.sign-up {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: xx-large;
    text-decoration: 1px underline #e2a538;
}
section p {
    text-align: center;
}
form {
    display: grid;
    width: 100%;
}
label {
    display: block;
    font-weight: bold;
    padding-top: .2rem;
    margin-top: 1rem;
} 
input {
    border-color: #d8e4ff;
    height: 30px;
    width: 100%;
}
option {
    text-align: center;
}
select {
    border: 3px double #d8e4ff;
    padding: 5px;
}
button[type=submit] {
    border-radius: 1rem;
    padding: 7px;
    margin: 15px;
    transition: .5s;
}
button[type=submit]:hover {
    cursor: pointer;
    padding: 10px;
    transition: .3s;
    border: 3px dashed #e2a538;
}
.filler {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: fadein;
    animation-duration: 3.5s;
    animation-direction: alternate;
    animation-timing-function: ease;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    }