@media screen and (min-width: 750px) {
  /*  #menu {
        display: none;
    }
    #cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        gap: 10px;
    }
    main {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
    }
*/
    .nav-button {
        display: none;
    }

    nav ul {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        padding: 0;
    }

    nav ul li a {
        display: inline-block;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
}