@media screen and (min-width: 750px) {
    .nav-button {
        display: none;
    }
    nav ul {
        display: flex;
        position: static;
        flex-direction: row;
        justify-content: center;
    }
    nav ul li {
        display: inline;
        margin-right: 20px;
        padding: 0;
    }
    nav ul li a {
        display: inline-block;
    }
    /******** Footer *******/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    /********* Join Page ********/
    .join {
        display: grid;
        grid-template-columns: 35vw 1fr;
    }
    form {
        display: grid;
        width: 100%;
    }
    /********** Class Page **********/
    #schedule-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    .directory {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}