* {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
:root {
    --text: #2A4551;
    --gold: #e2a538;
    --header: #d8e4ff;
}

/*#413C58*/
body {
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
header {
    background-color: var(--header);
    color: var(--text);
    padding: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: large;
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#menu {
    display: none; /* hide hamburger button */
}
nav ul li {
    flex: 1 1 100%
}
nav a {
    color: var(--text);
    font-style: bold;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: var(--gold);
    cursor: pointer;
}
main {
    margin: auto;
    padding: 20px;
}
h2{
    text-align: center;
    font-size: xx-large;
    text-decoration: 2px underline #e2a538;
}
h2, h3, p, label {
    font-family: Oswald;
}
.about, .content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: var(--header);
    color: var(--text);
    display: block;
    margin: auto;
   text-align: center;
    padding: 20px;
}
.icons img {
    margin: 5px;
}

#thank-you h2, p {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}