@media screen and (min-width: 750px) {
	#menu {
		display: none; /* hide hamburger button */
	}
    nav ul {
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        flex: 1 1 100%
    }
    /******** Home Page *********/
    .home {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 200px;
    }
    .left {
        width: 500px;
    }
    /******** Footer *******/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    /********* Join Page ********/
    .join {
        display: grid;
        grid-template-columns: 35vw 1fr;
    }
    form {
        display: grid;
        width: 100%;
    }
    /********** Class Page **********/
    #schedule-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    .directory {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}