* {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
:root {
    --text: #2A4551;
    --gold: #e2a538;
    --header: #d8e4ff;
}

/*#413C58*/
body {
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
header {
    background-color: var(--header);
    color: var(--text);
    padding: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: large;
    text-align: center;
}
#menu-icon {
    position: relative;
    margin-left: auto;
    margin-right: 0.5rem;
    border: 0.3rem solid transparent;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
}
.menu-bar {
    height: 0.25rem;
    width: 3rem;
    display: block;
    margin: 0.5rem auto;
    position: relative;
    background-color: var(--primary-color);
    border-radius: 0.625rem;
    transition: 0.4s;
}
.menu-icon.open>.menu-bar:nth-child(1) {
    transform: translateY(.75rem) rotate(45deg);
}
.menu-icon.open>.menu-bar:nth-child(2) {
    opacity: 0;
}
.menu-icon.open>.menu-bar:nth-child(3) {
    transform: translateY(-0.75rem) rotate(-45deg);
}
nav {
    display: grid;
    grid-template-rows: 0fr;
    border-top: 0.5rem solid var(--secondary-color);
    transition: grid-template-rows 0.5s ease-out;
}
nav.open {
    grid-template-rows: 1fr;
    border-top: none;
}
nav ul {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    overflow: hidden;
}
nav li {
    text-align: right;
    display: block;
    display: flex;
}
nav a {
    color: var(--nav-link-color);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    flex: 1;
}
nav a:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
    font-weight: 600;
}
nav a.active {
    border-right: 0.5rem solid var(--secondary-color);
}

main {
    margin: auto;
    padding: 20px;
}
h2, h3, p, label {
    font-family: Oswald;
}
footer {
    background-color: var(--header);
    color: var(--text);
    display: flex;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.icons img {
    margin: 5px;
}

#thank-you h2, p {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}