* {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
}
:root {
    --text: #2A4551;
    --gold: #e2a538;
    --header: #d8e4ff;
}

/*#413C58*/
body {
    margin: 10px;
    padding: 5px;
    justify-content: center;
}
header {
    background-color: var(--header);
    color: var(--text);
    padding: 20px;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: large;
    text-align: center;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
#menu {
    display: none; /* hide hamburger button */
}
nav ul li {
    flex: 1 1 100%
}
nav a {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: var(--gold);
    cursor: pointer;
}
/*nav a {
    display: block;
    color: var(--text);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
nav a:hover {
    color: var(--gold);
    cursor: pointer;
}

/* small view navigation 
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::after {
	content: "❎";
}


 when the button is clicked - the open class is toggled (added/removed) 
.open a {
	display: block;
}*/

main {
    margin: auto;
    padding: 20px;
}
h2, h3, p, label {
    font-family: Oswald;
}
footer {
    background-color: var(--header);
    color: var(--text);
    display: flex;
    margin: auto;
    text-align: center;
    padding: 20px;
}
.icons img {
    margin: 5px;
}

#thank-you h2, p {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}