* discover page */
    #promo-cards .card.cardStyle.flex .promoCardContent.flex .flex p,
    #discover-container p {
        font-size: small;
        padding: .3rem;
    }
    #discover {
        display: flex;
        flex-direction: column;
    }
    #discover-container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }
    #sidebar-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
        gap: 1rem 0rem;
        margin: 1rem .5rem;
    }
    #photo-container {
        display: flex;
        flex-direction: column;
        margin: 1rem .5rem;
        align-items: flex-start;
    }
    #photo-container img {
        border-radius: 2px;
    }
    #photo-container figure {
        position: relative;
    }
    #photo-container img {
        height: 20vw;
        width: 55vw;
        object-fit: cover
    }
    #photo-container .figcaption {
        font-size: medium;
        padding: .25rem 1rem;
        color: var(--primary-font-color);
        z-index: 999;
        text-align: center;
        position: absolute;
        background-color: var(--secondary-transparent-font-color);
        border-radius: 6px;
        top: 80%;
        left: 10%;
    }
    .newCardStyle{
        background-color: var(--secondary-color);
        padding: 1rem;
        width: 30vw;
        border-radius: 2px;
    }
    #calendar-container {
        padding:0;
        margin: 0;
    }
    #calendar-content iframe{
        max-width: 30vw;
    }