/****media view****/
:root {
    --background: #bf0603;
    --border: 3px solid #bf0603;
    --padding: 5px;
    --accent: #ffcf67;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* colors: red bf0603, yellow ffcf67, black and white for text */
  
/***** top of page *****/
header {
    display: flex;
    border: var(--border);
    margin: 10px;
    padding: 10px;
    align-content: center;
    justify-content: space-evenly;
    color: #bf0603;
}
h1 {
    color: #bf0603;
    text-align: center;
    margin-top: 20px;
}
  /******* Hamburger Nav *******/
nav {
    display: flex;
    flex-direction: column;
}
#menu {
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}
#menu::before{
    content: "≡";
    font-size: x-large;
    justify-content: center;
}
.navigation {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    text-align: center;
    color: var(--background);
    animation: gradientShift 5s infinite;
}
.navigation a:hover, .navigation a:active{
    background-color: #bf0603;
    color: white;
    cursor: pointer;
}
.show li {
    display: block;
}
#menu.show::after {
    content: "X";
    font-size: x-large;
}

/******* Join Form *********/
form {
    margin: 1rem 2%;
}
label {
    display: block;
    color: black;
    font-weight: bold;
    padding-top: .2rem;
    margin-top: 1rem;
    margin-left: 12vw;
}
form h3 {
  text-align: center;  
  background-color: var(--background);
  color: white;
  margin-top: 1.5rem;
  margin-bottom: .8rem;
  border-bottom: 1px solid white;
}  
input[type=text],
input[type=tel],
input[type=date],
input[type=email]{
  display: block;
  padding: .3rem;
  border: var(--border);
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color:var(--accent);
  color: black;
  width: 250px;
}
textarea {
    display: block;
    padding: .3rem;
    border: var(--border);
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color:var(--accent);
    color: black;
    width: 250px;
}
input[type=radio]{
    margin-left: 12vw;
    margin-right: 6px;
}
input:required {
    border-left-color: var(--accent);
}
input:focus {
    border-left-color: black; outline:none;
}
input:required:valid{
    border-left-color: var(--background);
} 
input[type=submit] {
  border: none;
  text-align: center;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 2rem 0;
  margin-top: 1rem;
  -webkit-appearance: none;
  appearance: none;
  transition: .5s;
}
input[type=submit]:hover {
    cursor: pointer;
    padding: .85rem 1.6rem;
    transition: .3s;
    border: var(--border);
}
#membership-cards {
    text-align: center;
}
.membership-card {
    border: var(--border);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.membership-card button {
    padding: 8px;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.membership-card button:active {
    background-color: var(--accent);
}
#silver-card {
    background-color: silver;
}
#gold-card {
    background-color: gold;
}
#platinum-card {
    background-color: linear-gradient(to right, silver, gold);
}
.membership-level {
    margin: 0 auto;
    margin-top: 30%;
    width: 90vw;
    height: 40vh;
}
.membership-level h3 {
    padding: 5px;
    margin: 5px;
}
.membership-level ul {
    text-align: left;
    list-style: circle;
    margin-left: 30px;
}
.membership-level #close-modal {
    height: 44px;
    width: 44px;
    margin-top: 5px;
    position: absolute;
    left: 85%;
    font-weight: bold;
    cursor: pointer;
    color: lightslategrey;
}
.membership-level::backdrop {
    background-color: rgb(0 0 0 / 0.5);
}
#silver-card {
    animation-name: slidein;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease;
}
#gold-card {
    animation-name: slidein;
    animation-duration: 3.5s;
    animation-direction: alternate;
    animation-timing-function: ease;
}
#platinum-card {
    animation-name: slidein;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-timing-function: ease;
}
@keyframes slidein {
    0%{
        transform: translate(150vw); 
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0); 
    }
    
}
#results-card {
    border: var(--border);
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: fadein 3s ease;
}
@keyframes fadein {
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
#results-card h3 {
    padding-top: 5px;
    padding-left: 5px;
}
#contact-details, #organization-details {
    list-style: none;
    padding: 15px;
}
#thank-you p {
    text-align: center;
    margin: 10px;
    margin-top: 30px;
}

/******* Bottom Page *******/
footer {
    margin: 10px;
    background-color: var(--background);
    text-align: center;
    padding: 20px;
    color:white;
}
.icons img {
    border: 3px solid whitesmoke;
    margin: 5px;
}