@media screen and (min-width: 750px) {
    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    nav {
        display: block;
        
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
    #animateMe, #animateMe.open {
        display: flex;
        justify-content: space-around;
        background-color: var(--primary-color);
        width: auto;
        height: 140px;
    }
    ul.menuLinks {
        list-style-type: none;
        display: flex;
        align-self: center;
        gap: 4vw;
    }
    ul.menuLinks li a:hover {
        color: #c1f370;
        background-color: var(--primary-color);
    }
    .wayfinding, .wayfinding:hover {
        background-color: var(--secondary-color)!important;
        padding: 10px;
        border-radius: 7px;
    }
    main {
        display: grid;
        grid-template-columns: 35vw 1fr;
    }
    #application-header, form {
        grid-column: 1/2;
    }
    form {
        display: grid;
        width: 100%;
    }    
    form label {
        justify-self: center;
        margin: 0;
        margin-bottom: 10px; 
    }
    form input[type=radio]{
        margin-left: 0;
    }
    form input[type=submit]{
        justify-self: center;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #memberships-header, #membership-cards {
        grid-column: 2/3;
    }
    #memberships-header {
        grid-row: 1/2;
        text-align: center;
        justify-self: center;
    }
    #membership-cards {
        width: 85%;
        margin-bottom: 10px;
        justify-self: center;
        margin-top: 5vh;
    }
    .membership-level #close-modal{
    left: 95%;
    }
    .membership-level {
        margin-top: 10%;
        width: 60vw;
    }
    .membership-level ul {
        font-size: 1.1rem;
        margin-left: 23vw;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
    #thank-you {
        grid-column: 1/3;
        margin-top: 10vh;
        text-align: center;
    }
    #thank-you p {
        margin: 0;
    }
    #results-card {
        width: 25%;
        text-align: left;
    }

}
