@media screen and (min-width: 750px) {
    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    nav {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
   /****** Main *******/
    main {
        display: grid;
        column-gap: 5px;
        grid-template-columns: 1fr 2fr;
    }
    #sidebar-container {
        grid-column: 1 / span 2;
    }
    
    #photo-container {
        grid-column: 2 / span 3;
    }
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
}