@media screen and (min-width: 760px) {
    header {
        display: flex;
        align-items: center;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
        grid-template-rows: 1fr;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
    main {
        margin: 10px;
    }
    .directory-controls {
        grid-template-columns: repeat (auto-fit, minmax(250px, 350fr));
    }
    .course .location .bottom {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
}