@media screen and (min-width: 750px) {
    header {
        display: flex;
        align-items: center;

    }
    li{
        float:left;
    }
    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
    #cards {
        display: grid;
        grid-template-columns: auto auto auto auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        gap: 10px;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }
}