/****media view****/
:root {
  --background: #bf0603;
  --border: 3px solid #bf0603;
  --text-align: center;
  --padding: 5px;
  --accent: #ffcf67;
}
/* colors: red bf0603, yellow ffcf67, black and white for text */

/***** top of page *****/
header {
  display: flex;
  border: var(--border);
  align-content: space-evenly;
  color: #bf0603;
  animation: gradientShift 5s infinite;
}
.head {
  display: flex;
  align-items: flex-start;
  text-align: center;
}
/******* Hamburger Nav *******/
#menu {
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu::before{
  content: "☰";
  font-size: x-large;
}
.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}
.navigation li {
  display: none;
}
.navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--background);
  transition: 5s;
}
.navigation a:hover, .navigation a:active{
  background-color: #bf0603;
  color: white;
  cursor: pointer;
}
.show li {
  display: block;
}
#menu.show::before {
  content: "X";
  font-size: x-large;
}

/******* Mid Page *******/


/*******directory ********/
.directory-controls {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
  padding: 10px;
  border-radius: 10px;   
}
.directory-controls button {
  border-radius: 10%;
  padding: 5px;
  min-width: 100px;
  background-color: var(--accent2-color);
  border: none;
}
.directory-controls button:hover {
  background-color: var(--accent1-color);
}
.directory-cards {
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 325fr));
  row-gap: 5px;
  column-gap: 5px;
  padding: 20px;
}
.directory-cards.list {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.company-card {
  background-color: var(--accent2-color);
  border: 1px solid black ;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 #00000080;
  text-align: center;
}
.directory-cards.list > .company-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.company-card > .name {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}
.company-card > img {
  margin: 5px;
}
.directory-cards.list > .company-card > img {
  margin: 10px;
}
.company-card > .address {
  text-align: left;
  margin-bottom: 10px;
  min-height: 35px;
}
.company-card > .url {
  margin-bottom: 10px;
}
.company-card > .membership {
  background-color: #362c2c;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.company-card > .membership.silver {
  background-color: #c0c0c0;
  color: black;
}
.company-card > .membership.gold {
  background-color: #e4cf7c;
  color: black;
}
body.dark-mode .company-card {
  background-color: var(--dark-card-color);
  box-shadow: none;
}

/******* Bottom Page *******/
footer {
  background-color: var(--background);
  text-align: center;
  padding: 20px;
  color:white;
}
.icons img {
  border: 3px solid whitesmoke;
  margin: 5px;
}