/****media view****/
:root {
  --background: #bf0603;
  --border: 3px solid #bf0603;
  --text-align: center;
  --padding: 5px;
  --accent: #ffcf67;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* colors: red bf0603, yellow ffcf67, black and white for text */

/***** top of page *****/
header {
  display: flex;
  border: var(--border);
  margin: auto;
  padding: 10px;
  align-content: center;
  justify-content: space-evenly;
  color: #bf0603;
}
h1 {
  color: #bf0603;
  text-align: center;
  margin-top: 20px;
}
/******* Hamburger Nav *******/
nav {
  display: block;
  flex-direction: column;
}
#menu {
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu::before{
  content: "≡";
  font-size: x-large;
}
.navigation {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  text-align: center;
  color: var(--background);
  animation: gradientShift 5s infinite;
}
.navigation a:hover, .navigation a:active{
  background-color: #bf0603;
  color: white;
  cursor: pointer;
}
.show li {
  display: block;
}
#menu.show::after {
  content: "X";
  font-size: x-large;
}

/******* Mid Page *******/
.top{
  text-align: center;
  align-content: center;
  background-color: var(--background);
  color: white;
  padding: 10px;
  margin-top: 10px;
}

/*******directory *********/
.directory {
  color: #bf0603;
  margin: 10px;
  padding: 10px;
  border: 3px double #ffcf67;
  border-radius: 25px;
  text-align: center; 
}
.name {
  background-color: var(--background);
  border-radius: 15px 30px;
  color: white;
  margin-bottom: 10px;
}
.img{
  width: 250px;
  height: 250px;
}
.platinum {
  background-image: linear-gradient(to right, silver, gold);
  color: black;
  border-radius: 10px;
  padding: 3px;
}
.silver {
  background-color: #c0c0c0;
  color: black;
  border-radius: 10px;
}
.gold {
  background-color: #e4cf7c;
  color: black;
  border-radius: 10px;
}

/******* Bottom Page *******/
footer {
  background-color: var(--background);
  text-align: center;
  padding: 20px;
  color:white;
}
.icons img {
  border: 3px solid whitesmoke;
  margin: 5px;
}