/****media view****/
:root {
  --background: #bf0603;
  --border: 3px solid #bf0603;
  --text-align: center;
  --padding: 5px;
  --accent: #ffcf67;
}
/* colors: red bf0603, yellow ffcf67, black and white for text */

/***** top of page *****/
header {
  display: flex;
  border: var(--border);
  align-content: space-around;
  color: #bf0603;
  animation: gradientShift 5s infinite;
}
.head {
  display: flex;
  align-items: flex-start;
  text-align: center;
}
/******* Hamburger Nav *******/
#menu {
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu::before{
  content: "☰";
  font-size: x-large;
}
.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}
.navigation li {
  display: none;
}
.navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--background);
  transition: 5s;
}
.navigation a:hover, .navigation a:active{
  background-color: #bf0603;
  color: white;
  cursor: pointer;
}
.show li {
  display: block;
}
#menu.show::before {
  content: "X";
  font-size: x-large;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #121212;
  color: #fff;
}
#dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}