/****media view****/
:root {
  --background: #C2B9C2;
  --text: #413C58;
}
/***** top of page *****/
header {
  display: flex;
  justify-content: center;
  background-color: var(--background);
  align-content: space-evenly;
  color: #413C58;
  text-decoration: underline double 2px #F2DDA4;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: large;
}
.self {
  width: auto;
  height: 120px;
  padding: 20px;
}
.button {
  background-color: transparent;
  color: var(--text);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: x-large;
} 
.topnav {
  display: block;
  float: right;
}
.dropdown {
  display: none;
  float: right;
  background-color: transparent;
  min-width: 160px;
  z-index: 3;
}  
.dropdown a {
  color: #413C58;
  background-color: #A3C4BC;
  border: #BFD7B5 groove 5px;
  border-radius: 5px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}  
.dropdown a:hover {background-color: #F2DDA4}

.topnav:hover .dropdown {
  display: block;
}  
.topnav:hover .button {
  background-color: #F2DDA4;
}

☰

/******* Mid Page *******/
main {
  padding: 100px 5px;
  display: flex;
  flex-direction: column;
}
.course, .location, .bottom {
  border: #BFD7B5 groove 5px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(163, 196, 188, 0.3);
  color: #413C58;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  background-color: var(--background);
}
p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.temple {
  width: 220px;
  height: 150px;
}
footer {
  background-color: var(--background);
  text-align: center;
  padding: 20px;
  color:#413C58;
}

/***** Large View ******/
@media (min-width: 746px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    
}
  
}