/****media view****/
:root {
  --background: #C2B9C2;
  --text: #413C58;
}
/***** top of page *****/
header {
  display: flex;
  justify-content: center;
  background-color: var(--background);
  align-content: space-evenly;
  color: #413C58;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: large;
}
.self {
  width: 83px;
  height: 120px;
  padding: 20px;
}
#menu {
  display: block;
  text-decoration: none;
  padding: 5px;
}
#menu::before {
  content: "☰";
  font-size: x-large;
}
.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}
.navigation li {
  display: none;
}
.navigation a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text);
  transition: 0.5s;
}
.navigation a:hover, navigation a:active {
  background-color:bisque;
}
.show li {
  display: block;
}
#menu.show::before {
  content: "X";
  font-size: x-large;
}

/***** bottom nav ******/
.course {
  display: flex;
}
.course button {
  display: block;
  flex: 1 1 100%;
  margin: 5px;
  background-color: #C2B9C2;
  border: none;
}
#all-courses:hover, #all-courses:active {
  background-color: bisque;
  cursor: pointer;
}
#cse-courses:hover, #cse-courses:active {
  background-color: bisque;
  cursor: pointer;
}
#wdd-courses:hover, #wdd-courses:active {
  background-color: bisque;
  cursor: pointer;
}
#course-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.courseCard {
  border: 3px solid #fcbceb;
  border-radius: 5px;
  padding: 5px;
}
.courseCard.taken {
  border: 3px solid #fcbceb;
  background-color: bisque
}

/******* Mid Page *******/
main {
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
}
.work, .location, .bottom {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(163, 196, 188, 0.3);
  color: #413C58;
  text-align: center;
}
h1 {
  background-color: var(--background);
  padding: 20px;
}
p {
  font-size: large;
}
.temple {
  width: 220px;
  height: 150px;
}

footer {
  background-color: var(--background);
  text-align: center;
  padding: 20px;
  color:#413C58;
}

/***** Large View ******/
@media (min-width: 760px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
  }
  .bottom {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  .navigation a {
    text-align: center;
  }
  #menu {
    display: none;
  }
  #course-display {
    grid-template-columns: repeat(auto-fit, minmax(250px, 350fr));
  }
  .course .location .bottom {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}