body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
  }
header {
    border: 5px solid #BB8588;
    border-radius: 5px;
    display: block;
    text-align: center;
    padding: 10px;
    grid-column: 1 / 4;
}
h1 {
    font-family: "Shadows Into Light Two", cursive;
    font-style: bold;
    color: #A5C882;
    text-align: center;
    text-decoration: underline #C2B9C2;
}
.topnav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-family: "Laila";
    text-align: center;
    padding: 1rem;
}
.links {
    /*display: flex;
    flex-direction: row;*/
    font-family: "Laila";
    text-align: center;
    justify-content: space-evenly;
}
nav a:hover {
    color: #B39BC8;
    border-style: double;
}
main {
   display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
   /* grid-row-gap: 5px;
    grid-column-gap: 50px;*/
    max-width: 2000px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.mecard {
    border: 5px solid #C2B9C2;
    border-radius: 10px;
    margin: 5px;
    height: 800px;
    padding: 10px;
   /* display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; */
}
.left {
    text-align: right;
    font-family: "Laila";
    padding: 10px;
   /* grid-row: 3 / span 3;
    grid-column: 2 / span 3;*/
} 
.right {
    text-align: left;
    font-family: "Laila";
    padding: 10px;
   /* grid-row: 2 / span 3;
    grid-column: 2 / span 3;*/
} 
.resourcecard {
    border: 5px solid #C2B9C2;
    border-radius: 10px;
    text-align: center;
    height: 800px;
    margin: 5px;
    padding: 10px;
}
footer {
    background: #C2CAD0;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color:#BB8588;
  }
img {
    border-radius: 20px;
}
.couple {
    height: 275px;
    width: 390Px;
    padding: 10px;
    float: left;
   /* grid-row: 1 / span 3;
    grid-column: 2 / span 4; */
}
.knives {
    height: 300px;
    width: 200px;
    padding: 10px;
    float: right;
    /* display: grid;
    grid-row: 2 / span 4;
    grid-column: 2 / span 4; */
}
h2 {
    font-family: "Shadows Into Light Two", cursive;
    text-decoration: underline double #A5C882;
    font-size: 2em;
}
.resources {
    display: flex;
    padding: 1rem;

}